In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df = pd.read_csv('covid_toy.csv')

In [7]:
df.sample(5)

    age  gender  fever   cough       city has_covid
71   75  Female  104.0  Strong      Delhi        No
82   24    Male   98.0    Mild    Kolkata       Yes
43   22  Female   99.0    Mild  Bangalore       Yes
13   64    Male  102.0    Mild  Bangalore       Yes
66   51    Male  104.0    Mild    Kolkata        No

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [13]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [17]:
#gender and city are nominal(unordered) so ohe
#cough is ordinal so oe

# 1.AAm Zindagi

In [28]:
#simple imputer to fever column
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape
#all missing values replaced with mean of data

(80, 1)

In [37]:
#ordinal encoding
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

#to test data
X_test_cough = oe.fit_transform(X_test[['cough']])
X_train_cough.shape

(80, 1)

In [72]:
#onehotencoding gender and city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender = ohe.fit_transform(X_train[['gender','city']])

X_test_gender = ohe.fit_transform(X_test[['gender','city']])

X_train_gender.shape

(80, 4)

In [66]:
#extracting age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
#.values attribute used to convert it to np array
#also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [80]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender,X_train_cough),axis=1)
#axis 1 horizontally

#test data also
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender,X_test_cough),axis=1)
X_train_transformed.shape

(80, 7)

In [84]:
df.sample

<bound method NDFrame.sample of     age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]>

# Mentos Zindagi !

In [98]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')
#remainder has two options passthrough(ignore columns) and drop(delete them)

In [104]:
transformer.fit_transform(X_train).shape

(80, 7)

In [108]:
transformer.transform(X_test).shape

(20, 7)