In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [19]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36',"Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7', 'sec-ch-ua': 'Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99', 'sec-ch-ua-mobile':'?0', 'sec-ch-ua-platform': 'Windows', 'sec-fetch-dest': 'document', 'sec-fetch-mode': 'navigate', 'sec-fetch-site': 'same-origin', 'sec-fetch-user': '?1', 'upgrade-insecure-requests': '1'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [21]:
soup = BeautifulSoup(webpage,'lxml')

In [51]:
#extractimg all H1
soup.find_all('h1')[0].text.strip()

'Companies in India'

In [49]:
for i in soup.find_all('h2'):
    print (i.text.strip())

TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Concentrix Corporation
Axis Bank
Amazon
Jio
iEnergizer
Reliance Retail
IBM
LTIMindtree
Companies by Industry
Companies by Locations
Companies by Type

In [62]:
soup.find_all('div',class_ = 'rating_text')

[<div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.7<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.7<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.7<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.0<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.5<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.5<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.1<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.0<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>]

In [64]:
soup.find_all('span',class_ = 'companyCardWrapper__companyRatingCount')

[<span class="companyCardWrapper__companyRatingCount">
 											(89.6k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(56.3k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(53k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(50.1k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(41.6k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(39.6k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(39.2k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(38.2k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(36.1k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(35.1k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(31.4k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(29.7k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(26.4k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(25.5k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(25.2k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.7k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.6k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.4k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(21k)
 										</span>]

In [166]:
company=soup.find_all('div',class_='companyCardWrapper')

In [68]:
len(company)

20

In [238]:
name=[]
rating=[]
reviews = []
salaries =[]
interviews = []
jobs = []
benefits = []
photos = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div',class_ = 'rating_text').text.strip())
    reviews.append(i.find('span',class_ ='companyCardWrapper__companyRatingCount').text.strip())
    salaries.append(i.find_all('a','companyCardWrapper__ActionWrapper')[1].text.strip())
    interviews.append(i.find_all('a','companyCardWrapper__ActionWrapper')[2].text.strip())
    jobs.append(i.find_all('a','companyCardWrapper__ActionWrapper')[3].text.strip())
    benefits.append(i.find_all('a','companyCardWrapper__ActionWrapper')[4].text.strip())
    photos.append(i.find_all('a','companyCardWrapper__ActionWrapper')[5].text.strip())
#use find_all when we know it will give multiple answers
#but her div with class rating text is unique

d = {'name' : name ,'rating':rating , 'reviews':reviews , 'salaries' : salaries , 'interviews' : interviews , 'jobs' : jobs , 'benefits' : benefits ,'photos':photos}
pd.DataFrame(d)

,name,rating,reviews,salaries,interviews,jobs,benefits,photos
0,TCS,3.7,(89.6k),8.7L Salaries,10.4k Interviews,232 Jobs,11.9k Benefits,87 Photos
1,Accenture,3.8,(56.3k),5.8L Salaries,8.1k Interviews,16.3k Jobs,7.3k Benefits,39 Photos
2,Wipro,3.7,(53k),4.5L Salaries,5.6k Interviews,2.6k Jobs,5.3k Benefits,93 Photos
3,Cognizant,3.8,(50.1k),5.7L Salaries,5.6k Interviews,346 Jobs,6.1k Benefits,76 Photos
4,Capgemini,3.7,(41.6k),4.3L Salaries,4.7k Interviews,1.8k Jobs,4.2k Benefits,39 Photos
5,HDFC Bank,3.9,(39.6k),1.4L Salaries,2.1k Interviews,219 Jobs,3.3k Benefits,46 Photos
6,Infosys,3.6,(39.2k),4.7L Salaries,7.5k Interviews,2.6k Jobs,5.3k Benefits,115 Photos
7,ICICI Bank,4.0,(38.2k),1.5L Salaries,2.4k Interviews,1 Jobs,3.8k Benefits,60 Photos
8,HCLTech,3.5,(36.1k),3.3L Salaries,3.8k Interviews,210 Jobs,4.2k Benefits,54 Photos
9,Tech Mahindra,3.5,(35.1k),2.7L Salaries,3.8k Interviews,417 Jobs,3.7k Benefits,69 Photos
10,Genpact,3.8,(31.4k),2L Salaries,3.1k Interviews,572 Jobs,3.8k Benefits,50 Photos
11,Teleperformance,3.9,(29.7k),90.6k Salaries,1.8k Interviews,348 Jobs,2.2k Benefits,34 Photos
12,Concentrix Corporation,3.8,(26.4k),1.2L Salaries,1.6k Interviews,44 Jobs,3.4k Benefits,58 Photos
13,Axis Bank,3.8,(25.5k),99.1k Salaries,1.5k Interviews,168 Jobs,2.2k Benefits,82 Photos
14,Amazon,4.1,(25.2k),1.2L Salaries,5k Interviews,2.2k Jobs,4.4k Benefits,83 Photos
15,Jio,3.9,(22.7k),62.9k Salaries,1.6k Interviews,91 Jobs,2.7k Benefits,68 Photos
16,iEnergizer,4.6,(22.6k),22.7k Salaries,602 Interviews,163 Jobs,568 Benefits,26 Photos
17,Reliance Retail,3.9,(22.4k),66.6k Salaries,1.5k Interviews,68 Jobs,2k Benefits,122 Photos
18,IBM,4.0,(22k),2L Salaries,2.3k Interviews,1.8k Jobs,2.8k Benefits,23 Photos
19,LTIMindtree,3.8,(21k),1.7L Salaries,2.9k Interviews,143 Jobs,1.3k Benefits,34 Photos

In [256]:
#creating final dataframe
final = pd.DataFrame()

for j in range(1,11):

    url = (f'https://www.ambitionbox.com/list-of-companies?page={j}')
    
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36',"Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7', 'sec-ch-ua': 'Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99', 'sec-ch-ua-mobile':'?0', 'sec-ch-ua-platform': 'Windows', 'sec-fetch-dest': 'document', 'sec-fetch-mode': 'navigate', 'sec-fetch-site': 'same-origin', 'sec-fetch-user': '?1', 'upgrade-insecure-requests': '1'}
    webpage = requests.get(url,headers=headers).text
    
    soup = BeautifulSoup(webpage,'lxml')

    company=soup.find_all('div',class_='companyCardWrapper')
    name=[]
    rating=[]
    reviews = []
    salaries =[]
    interviews = []
    jobs = []
    benefits = []
    photos = []
    
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div',class_ = 'rating_text').text.strip())
        reviews.append(i.find('span',class_ ='companyCardWrapper__companyRatingCount').text.strip())
        salaries.append(i.find_all('a','companyCardWrapper__ActionWrapper')[1].text.strip())
        interviews.append(i.find_all('a','companyCardWrapper__ActionWrapper')[2].text.strip())
        jobs.append(i.find_all('a','companyCardWrapper__ActionWrapper')[3].text.strip())
        benefits.append(i.find_all('a','companyCardWrapper__ActionWrapper')[4].text.strip())
        photos.append(i.find_all('a','companyCardWrapper__ActionWrapper')[5].text.strip())
    #use find_all when we know it will give multiple answers
    #but her div with class rating text is unique
    
    d = {'name' : name ,'rating':rating , 'reviews':reviews , 'salaries' : salaries , 'interviews' : interviews , 'jobs' : jobs , 'benefits' : benefits ,'photos':photos}
    df = pd.DataFrame(d)
    final = pd.concat([final,df],ignore_index=True)

In [216]:
company[0].find_all('a',class_='companyCardWrapper__ActionWrapper')[5].text.strip()

'87 Photos'

In [ ]:
#append is depriciated use pd.concat instead
#final = pd.concat(dataframes, ignore_index=True)